* {
    outline: none !important;
}

h1 {
    padding-top: 30px;
}

.container{
    margin-top: 30px;
    max-width: 300px;
    text-align: center;
    background-color: bisque;
    border-radius: 15px;
    color: #35485e;
}

button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: bisque !important;
    text-shadow: -2px -2px 0 #35485e;
}

button:hover {
    background-color: #229e66;
}

button:active {
    transform: translateY(4px);
    box-shadow: 3px 5px #35485e;
}

p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.able{
    background-color: #41b882;
    box-shadow: 5px 10px #35485e;
}

.disable {
    background-color: #229e66;
    transform: translateY(4px);
    box-shadow: 3px 5px #35485e;
}

#bar {
    visibility: hidden;
    width: 100%;
    height: 30px;
    background-color: #35485e;
}

#progressBar{
    width: 0%;
    height: 30px;
    background-color: #229e66;
}
